.chat-main
  .group-info
    .group_list
      .group_list_name 
        = @group.name
      .group_list_member 
        Menber :
        - @group.users.each do |user|
          =user.name
    =link_to edit_group_path(@group), class: "edit" do
      Edit

  .message-list
    =render @messages

  .message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, placeholder: "type  a message", class: "input-box_text"
        = f.label :image, class: "input-box_image_label" do
          = icon('fas', 'image', class: "icon")
          = f.file_field :image, class: "input-box_image_label_file"
      = f.submit 'Send', class: 'form_submit' 